name: Daily Stock Bot

on:
  schedule:
    - cron: "0 12 * * *"   # 7 AM EST
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install yfinance requests google-genai beautifulsoup4 lxml
      - run: python bot.py
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
